/* CSS */

body { font-family: 'Open Sans', sans-serif; font-weight: 300; background: #fff; margin: 0px; padding: 0px; }
h1 { font-family: 'Open Sans', sans-serif; font-weight: 400; }
h2 { font-family: 'Open Sans', sans-serif; font-weight: 400; }
h3 { font-family: 'Open Sans', sans-serif; font-weight: 300; }

ul { padding: 0px; margin: 0px; }
ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
}
section {}

.bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
}
.persona {
  border: 2px solid #eee;
  margin: 1%;
  padding: 0;
}
.wireframe {
  border: 2px solid #eee;
  margin: 1%;
  padding: 0;
}
.logo {
  background-color: #f1f1f1;
  height: 50px;
  display: block;
  text-align: left;
}
.imagem-destaque {
  padding: 5% 0 0 0;
  margin: 0;
  background: #ccc;
  height: 300px;
  line-height: 60px;
}
.menu-topo-lista {
  text-align: right;
  display: inline;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}
.menu-topo-lista ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  width: 100%;
}
.menu-topo-lista ul li {
  display: inline-block;
}
.menu-topo-lista ul li:last-child {
  border-right: none;
  margin: 0;
  padding: 0;
}
.menu-topo-lista ul li a {
  display: block;
  color: #000;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  margin: 0;
}
.menu-topo-lista ul li a:hover {
  background-color: #555;
  color: white;
}

.menu-topo-lista ul li a:active {
  background-color: #4CAF50;
  color: white;
}
.menu-perfil-lista {
  text-align: center;
  display: inline;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}
.menu-perfil-lista ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  width: 100%;
}
.menu-perfil-lista ul li {
  display: inline-block;
}
.menu-perfil-lista ul li:last-child {
  border-right: none;
  margin: 0;
  padding: 0;
}
.menu-perfil-lista ul li a {
  display: block;
  color: #000;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  margin: 0;
}
.menu-perfil-lista ul li a:hover {
  background-color: #555;
  color: white;
}

.menu-perfil-lista ul li a:active {
  background-color: #4CAF50;
  color: white;
}
.conteudo {
  border-top: 2px solid #333;
  padding: 4%;
}
.objetivo_conteudo {
  text-align: left;
}
.conteudo_cinza {
  border-top: 2px solid #fff;
  padding: 4%;
}
.conteudo_azul {
  border-top: 2px solid #333;
  background: #d1eef8;
}
.conteudo_depoimento {
  padding: 1% 1.6%;
  margin: 0px;
}
.conteudo_depoimento p { padding: 0px; margin: 0px;}
.depoimento {
  font-family: 'Shadows Into Light', cursive;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 1px;
}
.foto img {
  border-radius: 120px;
  margin: 4%;
}
#bio {
  list-style: none;
}
.sobre { background: transparent; padding: 2%; color: #333; }
.bio_sobre { background: #94ebfe; border-radius: 10px; padding: 1% 2%; }
.bio_sobre a { color: #27245e; }
.conteudo_rodape {
  background: #333; 
  color: #fff;
  padding: 1% 0 1% 1.6%;
  margin: 0px;
}
#container01 {
  background: #fff;
  padding: 0px;
  margin: 0px;
}
#container02 {
  background: #25163d; 
  color: #fff; 
  padding: 1% 0 1% 1.6%;
  margin: 0px;
}
#container03 {
  background: #eee; 
  color: #27245e; 
  padding: 1% 0 1% 1.6%;
  margin: 0px;
}
#container04 {
  background: #25163d; 
  color: #fff; 
  padding: 1% 0 1% 1.6%;
  margin: 0px;
}
.titulo {
  padding: 1% 0 1% 1.6%;
  margin: 0px;
}

/* GRAFICO */
.devices { width: 300px;}
.devices_esq { float: left; width: 60px; text-align: center;}
.devices_dir { float: right; width: 210px;}
.devices_100 { 
  background: #CFF09E;  
  width: 100%; 
  color: #f4f4f4; 
  text-align: center;
  font-size: 1em; 
  border: 1px solid #CFF09E;
}
.devices_70 { background: #25163d;  width: 70%; padding: 10px;}
.devices_60 { background: #25163d;  width: 60%; padding: 10px;}
.devices_20 { background: #25163d;  width: 20%; padding: 10px;}
.devices_30 { background: #25163d;  width: 30%; padding: 10px;}
.devices_10 { background: #25163d;  width: 10%; padding: 10px;}
.devices_clear { clear: both;}

/* COLORS */

.silver { color: #666; }
.blue { color: #53c8e1; }
.deepblue { color: #25163d; }
.one { color: #facb1b;}
.two { color: #e04f5f;}
.three { color: #53e1c8;}
.one_devices { color: #0B486B;}
.two_devices { color: #3B8686;}
.three_devices { color: #79BD9A;}
.color { color: #facb1b;}
.gogood_blue { color:#53c8e1;}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
.section_full {
  clear: both;
  padding: 0px;
  margin: 0px;
  border-top: 2px solid #333;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 0 0 1% 0;
  text-align: center;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 50%;
}

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 33.26%; }
.span_1_of_3_grey { width: 33.26%; background: #333; color: #fff; }
.span_1_of_3_blue { width: 33.26%; background: #d1eef8; color: #fff; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 0 0 1% 0%; }
  .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
  .span_1_of_3_grey { width: 100%; background: #333; color: #fff; }
  .span_1_of_3_blue { width: 100%; background: #d1eef8; color: #fff; }
  .span_2_of_2, .span_1_of_2 { width: 100%; }
  .menu-topo-lista { text-align: center; display: inline; margin: 0; padding: 0; }
  .logo { background-color: #f1f1f1; height: 50px; display: block; text-align: center; }
}
