/* CSS */

body { font-family: 'Open Sans', sans-serif; font-weight: 300; background: #fff; margin: 0px; padding: 0px; }
h1 { font-family: 'Open Sans', sans-serif; font-weight: 400; }
h2 { font-family: 'Open Sans', sans-serif; font-weight: 400; }
h3 { font-family: 'Open Sans', sans-serif; font-weight: 300; }

ul { padding: 0px; margin: 0px; }
ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
}
section {}

.bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
}
.persona {
  border: 2px solid #d1eef8;
  margin: 1%;
  padding: 0;
}
.conteudo {
  border-top: 2px solid #333;
  padding: 4%;
}
.objetivo_conteudo {
  text-align: left;
}
.conteudo_cinza {
  border-top: 2px solid #fff;
  padding: 4%;
}
.conteudo_azul {
  border-top: 2px solid #333;
  background: #d1eef8;
}
.conteudo_depoimento {
  padding: 1% 1.6%;
  margin: 0px;
}
.conteudo_depoimento p { padding: 0px; margin: 0px;}
.depoimento {
  font-family: 'Shadows Into Light', cursive;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 1px;
}
.foto img {
  border-radius: 120px;
  margin: 4%;
}
#bio {
  list-style: none;
}
.sobre { background: transparent; padding: 2%; color: #27245e; }
.bio_sobre { background: #d1eef8; border-radius: 10px; padding: 1% 2%; }
.bio_sobre a { color: #27245e; }
.conteudo_rodape {
  background: #333; 
  color: #fff;
  padding: 1% 0 1% 1.6%;
  margin: 0px;
}
#container01 {
  background: #fff;
  padding: 0px;
  margin: 0px;
}
#container02 {
  background: #27245e; 
  color: #fff; 
  padding: 1% 0 1% 1.6%;
  margin: 0px;
}
#container03 {
  background: #f4f4f4; 
  color: #27245e; 
  padding: 1% 0 1% 1.6%;
  margin: 0px;
}
#container04 {
  background: #27245e; 
  color: #fff; 
  padding: 1% 0 1% 1.6%;
  margin: 0px;
}
.titulo {
  padding: 1% 0 1% 1.6%;
  margin: 0px;
}

/* GRAFICO */
.devices { width: 300px;}
.devices_esq { float: left; width: 60px; text-align: center;}
.devices_dir { float: right; width: 210px;}
.devices_100 { 
  background: #CFF09E;  
  width: 100%; 
  color: #f4f4f4; 
  text-align: center;
  font-size: 1em; 
  border: 1px solid #CFF09E;
}
.devices_70 { background: #27245e;  width: 70%; padding: 10px;}
.devices_60 { background: #27245e;  width: 60%; padding: 10px;}
.devices_20 { background: #27245e;  width: 20%; padding: 10px;}
.devices_30 { background: #27245e;  width: 30%; padding: 10px;}
.devices_10 { background: #27245e;  width: 10%; padding: 10px;}
.devices_clear { clear: both;}

/* COLORS */

.silver {
  color: #666;
}
.blue {
  color: #d1eef8;
}
.deepblue {
  color: #27245e;
}
.one { color: #F9D423;}
.two { color: #EDE574;}
.three { color: #E1F5C4;}
.one_devices { color: #0B486B;}
.two_devices { color: #3B8686;}
.three_devices { color: #79BD9A;}
.color { color: #F9D423;}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
.section_full {
  clear: both;
  padding: 0px;
  margin: 0px;
  border-top: 2px solid #333;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 0 0 1% 0;
  text-align: center;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 33.26%; }
.span_1_of_3_grey { width: 33.26%; background: #333; color: #fff; }
.span_1_of_3_blue { width: 33.26%; background: #d1eef8; color: #fff; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 0 0 1% 0%; }
  .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
  .span_1_of_3_grey { width: 100%; background: #333; color: #fff; }
  .span_1_of_3_blue { width: 100%; background: #d1eef8; color: #fff; }
}
