@charset "UTF-8";
/* CSS GOLDEN RATIO RESPONSIVE BASE */

body {
	font-style: Arial, Helvetica, sans-serif;
	color: #F8F8FF;
	padding: 0px;
	margin: 0px;
	background: #b8860b;
}
p {
	padding: 10px;
	margin: 0px;
}
a {
	padding: 0px;
	margin: 0px;
}
a:hover {
	padding: 0px;
	margin: 0px;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0px;
	margin: 0px;
}
h1 {
	font-family: 'Roboto', serif;
	text-align: center;
	text-shadow: 2px 1px #B8860B;
}

/* CSS GOLDEN RATIO RESPONSIVE IDS AND CLASS */

#Container {
	margin: 0% 1.6%;
	background: #B8860B url("../images/spark1.png") repeat center; 
}

/*  CSS GOLDEN RATIO GRID IDS AND CLASS  ============================================================ */

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
	background: #daa520 url("../images/spark5.png") repeat bottom;
	border-bottom: 2px solid #c29115;
	text-shadow: 2px 2px #c29115;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GOLDEN RATIO GRID   ============================================================================= */

	
.span_8_of_8 {
	width: 100%;
}

.span_7_of_8 {
	width: 87.3%; 
}

.span_6_of_8 {
	width: 74.6%; 
}

.span_5_of_8 {
	width: 61.9%; 
}

.span_4_of_8 {
	width: 49.2%; 
}

.span_3_of_8 {
	width: 36.5%;
}

.span_2_of_8 {
	width: 23.8%; 
}

.span_1_of_8 {
	width: 11.1%; 
}


/*  GOLDEN RATIO FULL WIDTH AT LESS THAN 480 PIXELS ================================================= */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
		background: #daa520;
	}
	#Container {
		margin: 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_8_of_8 {
		width: 100%; 
	}
	.span_7_of_8 {
		width: 100%; 
	}
	.span_6_of_8 {
		width: 100%; 
	}
	.span_5_of_8 {
		width: 100%; 
	}
	.span_4_of_8 {
		width: 100%; 
	}
	.span_3_of_8 {
		width: 100%; 
	}
	.span_2_of_8 {
		width: 100%; 
	}
	.span_1_of_8 {
		width: 100%; 
	}
}

